body{
   background-color: #798b94;  
    
}
 .square {
            background: #1c3b8a;
            width: 25rem;
            aspect-ratio: 2/1;
            border: solid black;
            box-shadow: 15px 15px 10px rgba(60, 56, 140,1);
            display: block;
            margin-top: 5em;
            margin-left: 30rem;
        }
     .cardAlign{
        box-shadow: 15px 15px 10px rgba(60, 56, 140,1); 
        margin-left: 10rem;
        margin-top: 3rem;
    }
 